<div #baseModal class="modal fade" [attr.id]="modalId" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" *ngIf="headerDefault">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" class="close btn btn-round" aria-label="Close" (click)="onClose()">
          <i class="material-icons">close</i>
        </button>
      </div>
      <!--end of modal head-->
      
      <div class="modal-body">
        <ng-content select="base-modal-body"></ng-content>
      </div>
      <!--end of modal body-->
      
      <div class="modal-footer" *ngIf="footerDefault; else customFooter">
        <button role="button" class="btn btn-primary" type="submit" (click)="onConfirm()">
          Confirm
        </button>
      </div>

      <ng-template #customFooter>
        <ng-content select="base-modal-footer"></ng-content>
      </ng-template>

    </div>
  </div>
</div>
