<base-modal #employeeSelectionModal
  modalId="employee-selection-modal"
  title="Select Employee"
  [footerDefault]="true"
>
  <base-modal-body>
    <div class="users-manage" data-filter-list="form-group-users">
      <div class="input-group input-group-round">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">filter_list</i>
          </span>
        </div>
        <input
          type="search"
          class="form-control filter-list-input"
          placeholder="Filter"
          aria-label="Filter"
          aria-describedby="filter"
        />
      </div>
      <!-- search bar -->

      <div class="form-group-users filter-list-1549294581628">
        <div class="custom-control custom-checkbox">
          <input
            type="radio"
            class="custom-control-input"
            id="user-manage-1"
            name="employee"
          />
          <label class="custom-control-label" for="user-manage-1">
            <div class="d-flex align-items-center">
              <img
                alt="Claire Connors"
                src="assets/img/avatar-female-1.jpg"
                class="avatar mr-2"
              />
              <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text"
                >Claire Connors</span
              >
            </div>
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="radio"
            class="custom-control-input"
            id="user-manage-2"
            name="employee"
          />
          <label class="custom-control-label" for="user-manage-2">
            <div class="d-flex align-items-center">
              <img
                alt="Marcus Simmons"
                src="assets/img/avatar-male-1.jpg"
                class="avatar mr-2"
              />
              <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text"
                >Marcus Simmons</span
              >
            </div>
          </label>
        </div>
        <div class="custom-control custom-checkbox">
          <input
            type="radio"
            class="custom-control-input"
            id="user-manage-3"
            name="employee"
          />
          <label class="custom-control-label" for="user-manage-3">
            <div class="d-flex align-items-center">
              <img
                alt="Peggy Brown"
                src="assets/img/avatar-female-2.jpg"
                class="avatar mr-2"
              />
              <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text"
                >Peggy Brown</span
              >
            </div>
          </label>
        </div>
        
      </div>
    </div>
  </base-modal-body>
</base-modal>
