<div class="row justify-content-center">
  <div class="col-xl-5 col-lg-6 col-md-7">
    <div class="text-center">
      <h1 class="h2">Forgot password 😫</h1>
      <p class="lead">Enter your email address to reset</p>
      <form>
        <div class="form-group">
          <input class="form-control" type="email" placeholder="Email Address" name="forgot-password-email">
        </div>
        <button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
          Send reset link
        </button>
      </form>
    </div>
  </div>
</div>