<app-bread-crumb [items]="breadCrumb">
  <div class="dropdown">
    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons">settings</i>
    </button>
    <!-- <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
      <a class="dropdown-item" href="#">Share</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger" href="#">Leave</a>
    </div> -->
  </div>
</app-bread-crumb>

<content-wrapper>
  <content-section>
    <div class="mb-3 d-flex">
      <img alt="Pipeline" src="assets/img/logo-color.svg" class="avatar avatar-lg mr-1" tooltip="Peggy Brown"/>
      <div>
        <badge type="success">0.5.1</badge>
      </div>
    </div>
    <h1 class="display-4 mb-3">
      Visa application documents management portal.
    </h1>
    <p class="lead">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione maiores 
      tenetur expedita beatae, consequatur nihil quaerat aliquam.
    </p>
    <div class="d-flex">
      <div class="dropdown mr-3">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Employees Profile</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">New</a>
          <a class="dropdown-item" href="#">Manage</a>
        </div>
      </div>
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" >Visa Applications</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Start New</a>
        </div>
      </div>
    </div>
  </content-section>
</content-wrapper>
