<app-bread-crumb [items]="breadCrumb">

  <div class="dropdown">
    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
      <i class="material-icons">settings</i>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#" data-toggle="modal" data-target="#team-manage-modal">Edit Team</a>
      <a class="dropdown-item" href="#">Share</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item text-danger" href="#">Leave</a>
    </div>
  </div>
</app-bread-crumb>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-xl-9">
      <section class="py-4 py-lg-5">
        <div class="mb-3 d-flex">
          <img
            alt="Pipeline"
            src="assets/img/logo-color.svg"
            class="avatar avatar-lg mr-1"
            data-title="Peggy Brown" data-toggle="tooltip"
          />
          <img alt="Image" src="assets/img/avatar-female-2.jpg" class="avatar avatar-lg" data-title="Peggy Brown" data-toggle="tooltip" />

          <div><span class="badge badge-success">1.0.1</span></div>
        </div>
        <h1 class="display-4 mb-3">
          A project management template for Bootstrap 4
        </h1>
        <p class="lead">
          Pipeline is a collection of modular components and layouts for
          building project management and collaboration web apps.
        </p>
        <div class="d-flex">
          <div class="dropdown mr-3">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              >Explore Pages</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="pages-app.html">App Pages</a>
              <a class="dropdown-item" href="pages-utility.html"
                >Utility Pages</a
              >
            </div>
          </div>
          <div class="dropdown">
            <a
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              >View Components</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" href="components-bootstrap.html"
                >Bootstrap Components</a
              >
              <a class="dropdown-item" href="components-pipeline.html"
                >Pipeline Components</a
              >
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 py-lg-5">
        <div class="carousel slide carousel-fade mb-5" data-ride="carousel">
          <div class="carousel-inner overflow-visible">
            <div class="carousel-item shadow-lg active">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-team.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>

            <div class="carousel-item shadow-lg ">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-project.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>

            <div class="carousel-item shadow-lg ">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-task.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>

            <div class="carousel-item shadow-lg ">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-kanban-board.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>

            <div class="carousel-item shadow-lg ">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-chat.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>

            <div class="carousel-item shadow-lg ">
              <a href="pages-app.html">
                <img
                  alt="Image"
                  src="assets/img/overview/nav-side-user.png"
                  class="img-fluid rounded border"
                />
              </a>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="material-icons text-primary mr-3 h1"
            >supervised_user_circle</i
          >
          <h2 class="h1 mb-0">Project Management Pages</h2>
        </div>
        <p class="lead">
          Pipeline makes building project management interfaces simple with
          pages for teams, projects, tasks, kanban boards and more.
        </p>
        <a href="pages-app.html" class="mr-3">App Pages</a
        ><a href="pages-utility.html" class="mr-3">Utility Pages</a>
      </section>
      <section class="py-4 py-lg-5">
        <div class="row mb-5">
          <div class="carousel slide carousel-fade col-6" data-ride="carousel">
            <div class="carousel-inner overflow-visible">
              <div class="carousel-item shadow-lg active">
                <img
                  alt="Image"
                  src="assets/img/components/activity.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/avatar.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/avatar-list.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/card-kanban.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/card-note.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/card-project.png"
                  class="img-fluid rounded border"
                />
              </div>
            </div>
          </div>
          <div class="carousel slide carousel-fade col-6" data-ride="carousel">
            <div class="carousel-inner overflow-visible">
              <div class="carousel-item shadow-lg active">
                <img
                  alt="Image"
                  src="assets/img/components/card-team.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/card-task.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/card-list.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/chat-item.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/chat-module.png"
                  class="img-fluid rounded border"
                />
              </div>

              <div class="carousel-item shadow-lg ">
                <img
                  alt="Image"
                  src="assets/img/components/checklist.png"
                  class="img-fluid rounded border"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="material-icons text-primary mr-3 h1">widgets</i>
          <h2 class="h1 mb-0">Modular Components</h2>
        </div>
        <p class="lead">
          Build feature-rich pages with everything Bootstrap 4.1.3 has to offer
          and extend functionality with Pipeline's suite of stylish custom
          components.
        </p>
        <a href="components-pipeline.html" class="mr-3">Pipeline Components</a
        ><a href="components-bootstrap.html" class="mr-3"
          >Bootstrap Components</a
        >
      </section>
      <section class="py-4 py-lg-5">
        <div class="row mb-5">
          <div class="col-4">
            <img
              alt="Image"
              src="assets/img/layouts/layout-nav-side.svg"
              class="shadow-lg img-fluid"
              style="border-radius:.75rem"
            />
          </div>
          <div class="col-4">
            <img
              alt="Image"
              src="assets/img/layouts/layout-nav-top.svg"
              class="shadow-lg img-fluid"
              style="border-radius:.75rem"
            />
          </div>
          <div class="col-4">
            <img
              alt="Image"
              src="assets/img/layouts/layout-nav-top-sidebar.svg"
              class="shadow-lg img-fluid"
              style="border-radius:.75rem"
            />
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="material-icons text-primary mr-3 h1">view_quilt</i>
          <h2 class="h1 mb-0">Flexible Layouts</h2>
        </div>
        <p class="lead">
          Pipeline offers three distinct layouts to suit a variety of content
          types. Layouts are fully responsive and scale elegantally for
          different devices and screen sizes.
        </p>
        <a href="pages-layouts.html">Explore Layouts</a>
      </section>
      <section class="py-4 py-lg-5">
        <div class="row mb-5">
          <div class="col-3">
            <img
              alt="Bootstrap"
              src="assets/img/logo-bootstrap.svg"
              class="img-fluid rounded shadow-lg"
            />
          </div>
          <div class="col-3">
            <img
              alt="Gulp"
              src="assets/img/logo-gulp.svg"
              class="img-fluid rounded shadow-lg"
            />
          </div>
          <div class="col-3">
            <img
              alt="SASS"
              src="assets/img/logo-sass.svg"
              class="img-fluid rounded shadow-lg"
            />
          </div>
          <div class="col-3">
            <img
              alt="NPM"
              src="assets/img/logo-npm.svg"
              class="img-fluid rounded shadow-lg"
            />
          </div>
        </div>
        <div class="d-flex align-items-center mb-3">
          <i class="material-icons text-primary mr-3 h1">build</i>
          <h2 class="h1 mb-0">Familiar Tooling</h2>
        </div>
        <p class="lead">
          Pipeline employs industry-standard development tools with an intuitive
          workflow designed to get you up and runnning faster.
        </p>
        <a href="documentation/index.html" class="mr-3">View Documentation</a>
      </section>
    </div>
  </div>
</div>
