<app-bread-crumb [items]="breadCrumb"></app-bread-crumb>

<content-wrapper>
  <content-section>
    <div class="content-list">
      <div class="row content-list-head">
        <div class="col-auto">
          <h3>Countries</h3>
          <button class="btn btn-round" (click)="onCountryModalOpen()">
            <i class="material-icons">add</i>
          </button>
        </div>
        <div class="col-md-auto">
          <div class="input-group input-group-round">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="material-icons">filter_list</i>
              </span>
            </div>
            <input type="search" class="form-control filter-list-input" placeholder="Filter" aria-label="Filter User" aria-describedby="filter-projects">
          </div>
        </div>
      </div>
    </div>
  </content-section>
</content-wrapper>

<base-modal #countryModal modalId="modal-countries" title="Add Country" [footerDefault]="false">
  <base-modal-body>
    <p>Send an invite link via email to add members to this team</p>
    <div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">email</i>
          </span>
        </div>
        <input type="email" class="form-control" placeholder="Recipient email address" aria-label="Recipient email address" aria-describedby="recipient-email-address">
      </div>

      <div class="form-group mt-2">
        <label for="">Role</label>
        <select class="form-control" aria-label="Recipient email address" aria-describedby="recipient-email-address">
          <option>Maintainer</option>
          <option>Contributor</option>
        </select>
      </div>
      <!--<div class="text-right text-small mt-2">-->
        <!--<a href="#" role="button">Add another recipient</a>-->
      <!--</div>-->
    </div>
  </base-modal-body>

  <base-modal-footer>
    <button role="button" class="btn btn-primary" type="submit">
      Invite user
    </button>
  </base-modal-footer>
</base-modal>
