<div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
  <a class="navbar-brand" href="index-2.html">
    <img alt="Pipeline" src="assets/img/logo.svg" />
  </a>
  <div class="d-flex align-items-center">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar-collapse"
      aria-controls="navbar-collapse"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-block d-lg-none ml-2">
      <div class="dropdown">
        <a href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a href="nav-side-user.html" class="dropdown-item">Profile</a>
          <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
          <a href="#" class="dropdown-item">Log Out</a>
        </div>
      </div>
    </div>
  </div>
  <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
    <ul class="navbar-nav d-lg-block">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/overview']">Overview</a>
      </li>

      <!-- System Menu Item -->
      <li class="nav-item">
        <a class="nav-link" href data-toggle="collapse" aria-expanded="false" data-target="#system-submenu-2" aria-controls="system-submenu-2">System</a>
        <div id="system-submenu-2" class="collapse">
          <ul class="nav nav-small flex-column pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/overview']">User Management</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/overview']">Document Templates</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/overview']">Countries</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/overview']">Employees</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href data-toggle="collapse" aria-expanded="false" data-target="#visa-application-submenu-2" aria-controls="visa-application-submenu-2">Visa Applications</a>
        <div id="visa-application-submenu-2" class="collapse">
          <ul class="nav nav-small flex-column pl-2">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/overview']">Start New</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/overview']">Manage</a>
            </li>
          </ul>
        </div>
      </li>
      
    </ul>
    <hr />
    <div class="d-none d-lg-block w-100">
      <span class="text-small text-muted">Quick Links</span>
      <ul class="nav nav-small flex-column mt-2">
        <li class="nav-item">
          <a [routerLink]="['/overview']" class="nav-link">Register Employee</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/overview']" class="nav-link">Start Application</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-none d-lg-block">
    <div class="dropup">
      <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img alt="Image" src="assets/img/avatar-male-4.jpg" class="avatar" />
      </a>
      <div class="dropdown-menu">
        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
        <a href="#" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>
</div>
